/* root classes */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Raleway:wght@300;500&display=swap');

html, body{
  padding: 0;
  margin: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  height: 100%;
}


.wrapper {
  padding: 0 45px;
}

/* colors */

$color-dark-blue: #303841;
$color-light-blue: #3a4750;
$color-purple: #eeeeee;
$color-light-purple: #d72323;

/* Fonts */

$font-lobster: 'Lobster Two', cursive;
$font-primary: 'Raleway', sans-serif;

/* Header styling */

.header {

  background-color: $color-dark-blue;
  color: $color-light-purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  top: 0;

  div:first-child {
    display: flex;
    justify-content: space-between;
    font-family: $font-lobster;

    a {

      text-decoration: none;

      h3 {
        font-size: 2rem;
        color: $color-light-purple;
      }



    }

  }

  div:nth-child(2) {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    font-family: $font-primary;

    a {
      text-decoration: none;
      margin-bottom: 7px;

      p {
        color: $color-light-purple;
        margin-bottom: 3px;

        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background-color: $color-light-purple;
          transition: width .3s;
          margin-top: 4px;
        }

        &:hover::after {
          width: 100%;
        }


      }

    }

  }

}

.header_right {
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-between;
}

/* Products styles below */

.products_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1100px;

  span {
    height: 250px;
    width: 250px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 7px;
    margin: 1px;
    margin-top: 15px;

    .remove {
      height: 10px;
      position: relative;
      top: -42px;
      left: 107px;  
      padding: 5px;
      color: $color-dark-blue;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        color: $color-light-purple;
        transition: 0.08s;
        transform: scale(0.8);
      }

    }

    &:hover {
      background-color: #FFDFF9;
      transition: 1s;
      box-shadow: 6px 6px 14px -3px rgba(0,0,0,0.5);
      cursor: pointer;
    }

    .product_info {
      opacity: 1;
      height: 55%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: $font-primary;
      font-weight: bold;

      i {
          display: flex;
          flex-direction: column;
          margin-top: 3px;

        .plus_product {
          color: #DD568F;
          margin: 0 auto;
          cursor: pointer;
          margin-top: 7px;

          &:hover {
            transform: scale(1.1);
          }
    
          &:active {
            color: $color-light-purple;
            transition: 0.08s;
            transform: scale(0.8);
          }
      }
      
        &:hover {
          color: $color-dark-blue;
        }

      }

    }

  }

}


/* Add product form */

.add_product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;

  .add_product_form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    h2 {
      font-family: $font-primary;
      font-weight: bold;
      font-size: 2rem;
      color: $color-light-purple;
      margin-bottom: 20px;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        font-family: $font-primary;
        color: $color-light-blue;
        font-size: 1.25rem;
        margin: 7px;
      }

      input {
        width: 220px;
        height: 25px;
        border: 1px solid gray;
        border-radius: 3px;

        &:focus {
          box-shadow: 6px 6px 14px -3px rgba(0,0,0,0.5);
        }

      }

      button {
        width: 80px;
        height: 25px;
        border-radius: 3px;
        border: none;
        margin: 5px 2px;
        cursor: pointer;
        font-family: $font-primary;

        &:focus {
          border: none;
          outline: none;
        }

        &:active {
          border: none;
          outline: none;
          background-color: $color-light-blue;
          transition: 0.5s;
          transform: scale(0.9);
        }

      }

    }

  }

}


/* Shopping cart */


.cart_items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: $font-primary;
  height: 700px;
  font-size: 1.4rem;



    .bought_products {
      flex-direction: column;
      margin-top: 17px;
  
      span {
        padding: 0 10px;


      }

      i {
        
        .remove_product {
          color: $color-light-purple;
        }

      }

  }

  .remove_product {
    cursor: pointer;
    margin: 0 6px;
  }

  .total_price {
    font-weight: bold;
    color: $color-light-purple  ;
    margin-top: 20px;
  }

  
}

/* Order form */

.order {
  height: 730px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to_order {

  text-decoration: none;
  font-family: $font-primary;
  margin-top: 20px;
  border-radius: 5px;
  background-color: $color-purple;
  padding: 10px;
  border: 2px solid $color-light-blue;
  color: $color-light-purple;

  &:active {
    transform: scale(0.9);
    transition: 0.1s;
  }





}

.order_form {
display: flex;
flex-direction: column;
align-items: center;

h1 {
  font-family: $font-primary;
  font-weight: bold;
  font-size: 2rem;
  color: $color-light-purple;
  margin-bottom: 10px;
}

input {
  width: 220px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 3px;
  margin-top: 20px;

  &:focus {
    box-shadow: 6px 6px 14px -3px rgba(0,0,0,0.5);
  }
}


button {
  width: 80px;
  height: 25px;
  border-radius: 3px;
  border: none;
  margin: 15px 2px;
  cursor: pointer;
  font-family: $font-primary;

  &:focus {
    border: none;
    outline: none;
  }

  &:active {
    border: none;
    outline: none;
    background-color: $color-light-blue;
    transition: 0.5s;
    transform: scale(0.9);
  }

}

input {
  width: 220px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 3px;

  &:focus {
    box-shadow: 6px 6px 14px -3px rgba(0,0,0,0.5);
  }

}
  
}

/* Footer */

.footer {

  height: 80px;
  background-color: $color-dark-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer_left {
    
    h3 {
      font-family: $font-lobster;
      color: $color-light-purple;
      font-size: 1.3rem;
    }

  }
  .footer_right {
    color: $color-light-purple;
    font-family: $font-primary;
    font-weight: bold;
    width: 200px;
    height: 55px;
    background-color: $color-purple;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
    
    a {
      padding: 7px;

      &:first-child {
        color: #3B5998;
        text-decoration: none;  
      }

      &:last-child {
        color: #C13584;
        text-decoration: none;
      }

      &:visited {
        text-decoration: none;
      }

    }

  }
}

/* About us section */



.about_us_section {

  color: white;
  background-image: url("./images/cpu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;


  .about_us_top {
    font-family: $font-primary;
    height: 150px;

      h1 {
        font-weight: bold;
        font-size: 3rem;
        color: $color-light-purple;
      }
    
      div {
        font-size: 1.2rem;
      }


  }

  .about_us_numbers {
    
    height: 200px;
    align-items: center;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      font-family: $font-primary;

      h2 {
        color: $color-light-purple;
        font-weight: bold;
        font-size: 2.5rem;
      }
      p {
        color: $color-purple;
        font-size: 1.3rem;
      }

    }

  }

  .company_data {


    .company_adress {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 275px;;
      font-family: $font-primary;

      h1 {
        align-self: flex-start;
        font-size: 2.5rem;
      }

      div {
        font-size: 1.2rem;
      }

    }

  }

  .building {
      background-color: lightgrey;
      background: url("./images/siedziba.jpg");
      height: 275px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;


  }

}