/* root classes */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Raleway:wght@300;500&display=swap');

html, body{
  padding: 0;
  margin: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  height: 100%;
}


.wrapper {
  padding: 0 45px;
}

/* colors */

$color-dark-blue: #303841;
$color-light-blue: #3a4750;
$color-purple: #eeeeee;
$color-light-purple: #d72323;

/* Fonts */

$font-lobster: 'Lobster Two', cursive;
$font-primary: 'Raleway', sans-serif;

/* Header styling */

.header {

  background-color: $color-dark-blue;
  color: $color-light-purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  top: 0;

  div:first-child {
    display: flex;
    justify-content: space-between;
    font-family: $font-lobster;

    a {

      text-decoration: none;

      h3 {
        font-size: 2rem;
        color: $color-light-purple;
      }
    }

  }

  div:nth-child(2) {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    font-family: $font-primary;

    a {
      text-decoration: none;

      p {
        color: $color-light-purple;
      }

    }

  }

}

.header_right {
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-between;
}

/* Products styles below */


.products {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;


  span {
    height: 250px;
    width: 250px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    div {
      height: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;


      i {
          display: flex;
          flex-direction: column;
        .plus_product {
          color: $color-light-blue;
          margin: 0 auto;
          cursor: pointer;
      }
      

        &:hover {
          color: $color-dark-blue;
        }

      }

    }

  }

}


/* Add product form */



/* Shopping cart */


.cart_items {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;

    .bought_products {
      flex-direction: column;
      margin: 10px 0;
  
      span {
        padding: 0 10px;
      }

  }

  .remove_product {
    cursor: pointer;
    margin: 0 6px;
  }

  .total_price {
    position: relative;
  }
  
}

/* Order form */

.order_form {
display: block;
  
}

/* Footer */

.footer {

  height: 80px;
  background-color: $color-dark-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer_left {
    color: red;
  }
  .footer_right {
    color: $color-light-purple;
    font-family: $font-primary;
    font-weight: bold;
    width: 200px;
    height: 55px;
    background-color: $color-purple;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
    
    a {
      padding: 7px;

      &:first-child {
        color: #3B5998;
        text-decoration: none;  
      }

      &:last-child {
        color: #C13584;
        text-decoration: none;
      }

      &:visited {
        text-decoration: none;
      }

    }

  }
}